{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row full-row title-row">
	<h2>Main Page</h2>
</div>
<ul>
	<li> <a href="{{url_for('listPerson')}}">List users</a> </li>
	<li> <a href="{{url_for('addPerson')}}">Add User</a> </li>
	<li> <a href="{{url_for('manageRaces')}}">Manage Races</a></li>
	<li> <a href="{{url_for('listCharacter')}}">List Characters</a></li>
	<li> <a href="{{url_for('addCharacter')}}">Add Character</a></li>
</ul>



	<h2>To Do:  </h2>
	<ul>
		<li>Main text for this page (dep. on user type)</li>
		<li>Mockup/style changes for game "timejump" (Phil)</li>
		<li>Restrict pages based on logged in user type</li>
		<li>Phil - do "factions" depend on races?</li>

	</ul>



{% endblock %}
