{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = "row full-row title-row">
  <h2> Manage Races </h2>
</div>

{% for r in races %}
  <div class="col-sm-3">{{r.name}}</div>
  <div class="col-sm-3"> {{r.id}} </div>
  <div class="col-sm-3">  </div>
  <div class="col-sm-3">
    <a href="/race/{{r.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>
    <a href="/race/{{r.id}}/delete"><span class="glyphicon glyphicon-trash"></span></a>
  </div>
{% endfor %}
<a href="{{url_for('addRace')}}">Add a new Race</a>

{% endblock %}
